*,
*::after,
*::before {
    min-width: none;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;

    background-color: #111111;
    -webkit-user-select: none;      /* standard */
    -webkit-touch-callout: none;    /* iOS Safari */
    user-select: none;              /* future proof */
    -webkit-tap-highlight-color: transparent;
}

:root {
  --color-success: white;
  --color-error:   #C62828;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    touch-action: none;
}

#app {
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 60vh;
    /*max-height: 40vh;*/
    position: absolute;
    left: 0;
    bottom: 0;
}

#textbox {
    box-sizing: border-box;
    width: calc(100% - 4rem);
    overflow: hidden;
    position: absolute;
    top: 10rem;
    left: 2rem;
    padding: 1rem;
    /*border: 1px solid white;
    border-radius: 3px;*/
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;

    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 42px;

    color: gray;
    font-family: monospace;
    text-transform: lowercase;
}

.incorrect {
    color: var(--color-error);
}

.correct {
    color: var(--color-success);
}